@inject ITicketDTOService TicketService


@if (Ticket is not null)
{
    <td><a href="tickets/@Ticket.Id" class="lead">@Ticket.Title</a></td>
    <td>@Ticket.Created.ToString("d")</td>
    <td><a href="projects/@Ticket.Project?.Id" class="lead">@Ticket.Project?.Name</a></td>
    <td>@Ticket.Status</td>
    <td>@Ticket.Priority</td>
}

@code {

    #region Parameters
    [Parameter, EditorRequired]
    public TicketDTO? Ticket { get; set; }

    [CascadingParameter]
    public Task<AuthenticationState>? AuthStateTask { get; set; }
    #endregion



    #region State
    UserInfo? userInfo;
    #endregion

}

